
$darkbrown: #514538;
$mediumbrown: #947046;
$lightbrown: #C3A689;
$yellow: #F8F57E;
$red: #c92432;
$white: #fffafa;

//semi-transparent colors

$lightbrown-70: #C3A689B3;
$lightbrown-20: #C3A68933;
$mediumbrown-70: #947046B3;
$yellow-70: #F8F57EB3;