
@import 'rem-converter';
@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;700&family=Raleway&family=Sacramento&display=swap');

$sacramento: "Sacramento", cursive;
$cormorant: "Cormorant Infant", serif;
$raleway: "Raleway", sans-serif;

h1, h2, h4 {
    font-family: $sacramento;
    font-weight: bold;

    &.content-header {
        color: $yellow;
        text-align: center;
    }
}

h3, h5, footer {
    font-family: $cormorant;
    font-weight: bold;
    color: $darkbrown;
}

h5, h4, p, .footer-label {
    color: $darkbrown;
}

// Header logo-specific

h1 {
    font-size: rem(48px);
    padding: 1%;
  }

.logo-crown {
    transform: rotate(30deg);
    padding: auto;
    margin-left: -2%;
    margin-top: 1%;
    }

.logo-link {
    text-decoration: none;
    color: $darkbrown;

     > :hover, :focus {
        color: $mediumbrown;
        }
}

h2 {
    font-size: rem(48px);
}

h3, h4 {
    font-size: rem(36px);
}

nav li a, h5 {
    color: $darkbrown;
    font-family: $cormorant;
    font-weight: bold;
    font-size: rem(24px);
}

nav li a {
    text-decoration: none;

    &:hover, &:focus {
        color: $mediumbrown;
    }
}

.content > p {
    font-family: $raleway;
    line-height: 1.5rem;
    font-weight: bold;
}

.content a {
    text-decoration: underline $mediumbrown;
    color: $darkbrown;

    &:hover, &:focus {
        text-decoration: underline $darkbrown;
    }
}