
@import 'rem-converter';
@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;700&family=Raleway&family=Sacramento&display=swap');

$sacramento: "Sacramento", cursive;
$cormorant: "Cormorant Infant", serif;
$raleway: "Raleway", sans-serif;

// See header/footer partials for icon styles

* {
    font-weight: bold;
}

h1 {
    text-align: center;
  }

h2 {
    font-size: rem(48px);
}

h3 {
    font-size: rem(52px);
}

nav li a, h5 {
    font-size: rem(24px);
}

h2, h3 {
    font-family: $sacramento;
    color: $darkbrown;

    &.content-header {
        color: $yellow;
        text-align: center;
    }
}

h4 {
    color: $darkbrown;

    &.content-article-label {
        font-size: rem(28px);
    }

    &.footer-label {
        font-family: $sacramento;
        font-size: rem(36px);
        width: 100%;
        text-align: center;
    }
}

nav li a, h5, p {
    font-family: $cormorant;
    color: $darkbrown;

    &.bakery-header {
        color: $yellow;
        text-align: center;
    }
}

nav li a {
    text-decoration: none;

    &:hover, &:focus {
        color: $mediumbrown;
    }
}

.content > p {
    font-family: $raleway;
    line-height: 1.5rem;
}

.content a {
    text-decoration: underline $mediumbrown;
    color: $darkbrown;

    &:hover, &:focus {
        text-decoration: underline $darkbrown;
    }
}