
@import 'rem-converter';
@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;700&family=Sacramento&display=swap');

$sacramento: "Sacramento", cursive;
$cormorant: "Cormorant Infant", serif;

h1, h2, h4 {
    font-family: $sacramento;
    font-weight: bold;
}

h4, h5, p {
    color: $darkbrown;
}

h1 {
    font-size: rem(48px);
    text-align: center;
    padding: 1%;
}

.logo-crown-header {
    transform: rotate(30deg);
    padding: auto;
    margin-left: -2%;
    margin-top: 1%;
    }

h2 {
    font-size: rem(56px);
}

h3, h5, p, div {
    font-family: $cormorant;
    font-weight: bold;
}

h3, h4 {
    font-size: rem(36px);
}

nav li a, main, h5 {
    color: $darkbrown;
    font-family: $cormorant;
    font-weight: bold;
    font-size: rem(24px);
}

nav li a {
    text-decoration: none;

    &:hover, &:focus {
        color: $mediumbrown;
    }
}