
footer {
    color: $mediumbrown;
}

.footer-flex {
    flex: 0 1 auto;
}

// Hours

// Locations

.brown-separator {
    border-right: dashed 2px $mediumbrown;
}

.socials {
    margin-top: 1%;
    background-color: $mediumbrown;
    height: max-content;
    padding: 1rem 0rem 1rem 0rem;

    > i, a {
        color: $yellow;
        font-size: rem(24px);
        letter-spacing: rem(6px);
    }

    a:hover, a:focus {
        color: $darkbrown
    }
}

.logo-footer {
    min-width: max-content;
}