
footer {
    color: $mediumbrown;
}

.footer-container {
    display: flex;
    flex-direction: row;
}

.hours {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    h4 {
        width: 100%;
    }

    :nth-child(even) {
        flex-basis: 40%;
    }
}

// Hours

// Locations

.brown-separator {
    border-right: dashed 2px $mediumbrown;
    margin: .5rem 0rem .5rem 0rem;
}

.socials {
    margin-top: 1%;
    background-color: $mediumbrown;
    height: max-content;
    padding: 1rem 0rem 1rem 0rem;

    > i, a {
        color: $yellow;
        font-size: rem(24px);
        letter-spacing: rem(6px);
    }

    a:hover, a:focus {
        color: $darkbrown
    }
}