@import 'colors';
@import 'fonts';
@import 'rem-converter';

header, footer {
    background-color: $yellow;
    width: 100%;
    margin: auto;
}

header {
    padding-top: .5rem;
}

.logo-link {
    display: flex;
    justify-content: center;
}

.nav-ellipsis i {
    float: right;
    padding-right: 3%;
    display: none;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: .5rem;
}