@import 'colors';
@import 'fonts';
@import 'rem-converter';

header, footer {
    background-color: $yellow;
    width: 100%;
    margin: auto;
}

header {
    padding-top: .5rem;
}

.logo {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: .5rem;
}

.doily {
    width: 100%;
    height: rem(28px);
    
    &.top {
        background: url('/Images/doily-top.png');
    }

    &.bottom {
        background: url('/Images/doily-bottom.png');
    }
}