html {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

body {
    background-color: $darkbrown;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: space-between;
    height: 100%;
}

.doily {
    width: 100%;
    height: rem(28px);
    object-fit: cover;
    
    &.top {
        background: url('/Images/doily-top.png');
    }

    &.bottom {
        background: url('/Images/doily-bottom.png');
    }
}

main {
    flex: 1;
}