

html {
    height: 100vh;
    box-sizing: border-box;
}

body {
    background-color: $darkbrown;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
}

.doily {
    width: 100%;
    height: rem(28px);
    object-fit: cover;
    
    &.top {
        background: url('/Images/doily-top.png');
    }

    &.bottom {
        background: url('/Images/doily-bottom.png');
    }
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: .5rem;
}

section {
    padding: 1rem;
    width: 85%;
    margin: auto;
}


.hero {
    margin: auto;
    text-align: center;

    .hero-img {
        background-size: cover;
        height: 430px;
        width: 100%;
        border-radius: rem(15px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
}

.hero-desc-box {
    background-color: $yellow-70;
    padding: 1%;
    max-width: 45%;
    border-radius: rem(20px);
    
    > p {
        font-family: $cormorant;
        font-size: rem(26px);
    }

    &.subpage {
        border-radius: rem(30px);
        width: 50%;
    }
}

.content {
    background-color: $lightbrown;
    margin: 1rem auto 1rem;
    border-radius: rem(20px);
    padding: 1rem;
}