html {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

body {
    background-color: $darkbrown;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-between;
    height: 100%;
}

.doily {
    width: 100%;
    height: rem(28px);
    object-fit: cover;
    
    &.top {
        background: url('/Images/doily-top.png');
    }

    &.bottom {
        background: url('/Images/doily-bottom.png');
    }
}

main {
    flex: 1;
    padding: .5rem;
}

section {
    padding: 1rem;
    max-width: 85%;
    margin: auto;
}

.content {
    background-color: $lightbrown;
    margin: 1rem auto 1rem;
    border-radius: rem(20px);
    padding: 1rem;
}