@import 'rem-converter';
@import 'colors';
@import 'fonts';
@import 'styling';
@import 'header';
@import 'footer';

.carousel {
    margin: auto;
    text-align: center;

    .carousel-img {
        background-image: url(/Images/pastries/croissant_guys.jpeg);
        background-size: cover;
        height: 430px;
        width: 100%;
        border-radius: rem(15px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
}

.carousel-desc-box {
    background-color: $yellow-70;
    padding: 1%;
    max-width: 45%;
    border-radius: rem(20px);
    
    > p {
        font-family: $cormorant;
        font-size: rem(26px);
    }
}

.carousel-button {    
    background-color: $mediumbrown-70;
    padding: 1%;
    margin: 1%;
    max-width: 20%;
    border-radius: rem(20px);
    border: 1px solid $yellow;
    text-decoration: none;

    h5 {
        color: $yellow;
        font-weight: normal;
    }

    &:hover, &:focus {
        background-color: $mediumbrown;
    }
}

small {
    font-size: rem(18px);
    color: $mediumbrown;
    font-family: $cormorant;
    font-weight: bold;
    line-height: 1.5rem;
    margin-left: .1rem;
}

.content-divider {
        border-top: dashed 2px $yellow;
        max-width: 30%;
        margin: 1rem 0rem 1rem 0rem;
}