@import 'rem-converter';
@import 'colors';
@import 'fonts';
@import 'styling';
@import 'header';
@import 'footer';

.dough-kneading {
    margin: 1rem;
    border-radius: 3rem;
    width: 20rem;
    height: 20rem;
    float: right;
    object-fit: cover;
}

.body-text {
    margin-top: 1rem;
}

@media screen and (max-width:992px) {
.dough-kneading {
    margin: .5rem;

    width: 18rem;
    height: 18rem;
    position: relative;

}
}
@media screen and (max-width:600px) {

    .dough-kneading {
        margin: 0.5rem;
        border-radius: 3rem;
        width: 16rem;
        height: 16rem;
        position: relative;

    }
    }
