@import 'rem-converter';
@import 'colors';
@import 'fonts';
@import 'styling';
@import 'header';
@import 'footer';

.dough-kneading {
    margin: 1rem;
    border-radius: 3rem;
    width: 20rem;
    height: 20rem;
    float: right;
    object-fit: cover;
}

@media only screen and (max-width: 600px)
{
    .dough-kneading {
        margin: auto;
        float: none;
        width: 100%;
    }

    .content-article-label {
        text-align: center;
        padding-bottom: .5rem;
    }

    .content > p {
        padding-bottom: 1rem;
    }
}

// @media screen and (max-width:992px) {
// .dough-kneading {
//     margin: .5rem;
//     width: 18rem;
//     height: 18rem;
//     position: relative;

//     }
// }
// @media screen and (max-width:600px) {

//     .dough-kneading {
//         margin: 0.5rem;
//         border-radius: 3rem;
//         width: 16rem;
//         height: 16rem;
//         position: relative;

//     }
//     }

/* Styling of Navbar !!To Be updated*/

// Roz says, "Depreciated Navbar"

// .parent a{
//     margin: rem;
//     color: $darkbrown;
//     text-decoration: none;
//     font-size: rem(28px);
// }
// .parent:hover > ul {
//     display: block;
//     position: absolute;
//     background-color: $yellow-70;
//     color: $mediumbrown;
//     border-radius: 1rem;
//     margin: 0;
//     padding: 0;
// }
// .child {
//     display: none;
//     border-radius: 1rem;
//     background-color: $yellow-70;
//     }
// .child li {
//     line-height: 3rem;
//     width:100%;
//     border-radius: 1rem;
// }
// .child li a{
//     color: $darkbrown;
//     font-size: rem(22px);
// }
// ul{
//     list-style: none;
//     margin: 0;
//     padding: 0;
//     min-width:20rem;
// }
// ul ul ul{
//     left: 100%;
//     top: 0;
//     margin-left:0;
// }

// .parent li:hover {
//     background-color: $yellow;
// }
// .expand{
//     font-size: 2rem;
//     float:right;
//     margin-right:1rem;
// }
